<div class="ui centered card">
  <div class="content">
    <h2><i class="ui green check icon"></i> Your order done!</h2>
  </div>

  <div class="content">
    <div class="ui middle aligned divided list">

      <div class="item">
        <div class="right floated content">
          <div class="ui medium green label">36000 UZS</div>
        </div>
        <!-- Name -->
        <div class="content">
          <div class="cart-item">
            Burger
          </div>
        </div>
      </div>
    </div>
    <h4>Total: 36000 UZS</h4>
    <div class="text">
      Thank you for order us shop :)
    </div>
  </div>
  <div class="content">
    <a class="ui right floated labeled icon button" href="/">
      <i class="ui arrow left icon"></i> Back to menu
    </a>
  </div>
</div>